extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.labels.id')
        th= t('views.labels.fullName')
        th= t('views.labels.email')
        th= t('views.labels.createdAt')
        th
    tbody
      each user in users
        tr
          td= user.id
          td= user.fullName()
          td= user.email
          td= formatDate(user.createdAt)
          td
            a(href=`${route('editUser', {id: user.id})}`)= t('views.labels.change')
            +formFor()(action=route('user', { id: user.id }) method='post')            
              input(name='_method' type='hidden' value='delete')
              input.btn.btn-link(type='submit' value= t('views.labels.delete'))