extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
    tbody
      each user in users
        tr
          td= user.id
          td= user.fullName()
          td= user.email
          td= formatDate(user.createdAt)
          td
            a(href=`${buildRoute(user.id, 'users')}/edit`)= t('views.labels.edit')
            +formFor()(action=buildRoute(user.id, 'users') method='post')            
              input(name='_method' type='hidden' value='delete')
              input.btn.btn-link(type='submit' value= t('views.labels.delete'))